# Eclipse
.classpath
.project
.settings/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/compiler.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/typescript-compiler.xml
.idea/**/kotlinc.xml
.idea/**/.name
.idea/**/checkstyle-idea.xml
.idea/**/vcs.xml
.idea/**/sonarIssues.xml
.idea/**/encodings.xml
.idea/**/jarRepositories.xml
.idea/dictionaries
.idea/copyright
.idea/inspectionProfiles
.idea/libraries
.idea/sonarlint
.idea/codeStyles
.idea/terraform.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# IntelliJ
/out/

## File-based project format:
*.iml
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Maven
log/
target/
**/.flattened-pom.xml

# jenv/sdkman
.java-version
.sdkmanrc